@mixin links { 
			
}

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.site__footer .menu-item a{
	@include links__menu  ( $color__link__footer,
						  $color__link__footer-visited,
						  $color__link__footer-hover,
						  $background__link__footer,
						  $background__link__footer-visited,
						  $background__link__footer-hover)
}

.menu-principal .menu-item a{
	@include links__menu	($color__link__menu-principal,
							$color__link__menu-principal-visited,
							$color__link__menu-principal-hover,
							$background__link__menu-principal,
							$background__link__menu-principal-visited,
							$background__link__menu-principal-hover)

}