$color__background-body:#2f2f2f;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__background-entete: White;
$color__font-entete: black;


$color__background-header : rgb(164, 189, 164);
$color__background-barre : rgb(164, 189, 164);
$color__background-main : rgb(35, 44, 35);
$color__background-footer : rgb(164, 189, 164);
$color__background-link-hover : #B3D0B3;
$color__text-link-hover: whitesmoke;

$color__border-box : whitesmoke;

/************************************couleurs menu footer**********************************/

