.sidebar{
  font-family: $font__main;
  a{
    text-decoration: none;
  }
}

.footer__menu__nav{
  font-family: $font__main;
}
.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    color: $color__font-footer;
    padding: 15px;
  // les colonnes du pied de page 
    &__colonne { //.site__footer__colonne
        display :flex;
        flex-direction : column;
        section {
          flex : 0 0 100%;
          border : 1px solid #aaa;
        }
        @media screen and (min-width : $largeur__media--tablette){
          flex-direction: row;
          justify-content: space-between;

          section { //  .site__footer__colonne  section
            flex : 0 0 30%;
            
          }
        }
        
        .footer__adresse,.footer__article,.footer__lien{
          box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 0px 0px 10px 10px rgba(255,255,255,0.63), 0px 0px 10px 10px rgb(255, 166, 0), 0px 0px 10px 10px rgba(255,255,255,0.8);
        }
        .footer__adresse{ //.site__footer__colonne .footer__adresse 
          background-color: black;

          caption{
            color: orange;
            font-size: 1.5em;
          }

          th{
            color: orange;
            background-color: black
          }

          

          td{
            color:whitesmoke;
          }
          nav{
            span{
              font-size: 2em;
            }
          }
         }
        .footer__article { 
          .sidebar{
            height: 100%;
            div:nth-of-type(1){
              display: none;
            }
            div:nth-of-type(2){
              height: 100%;
            }
          }
          ul{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            padding: 0;
            margin:0;
            list-style: none;
            height: 100%;
            li{
              border: 4px inset orange;
              background-color: black;
              width: 100%;
              text-align: center;
              font-size: large;
            }
          }
        }
        .footer__lien { 
          text-align: center;
          background-color: $color__background-barre;
        }
    }
// les lignes du pied de page
    &__ligne { //.site__footer__ligne
      display : flex;
      flex-direction : column;
      align-items: center;
      section {
        p{
          text-align: center;
        }
        
      }
      .footer__auteur {}
      .footer__description {
        ul{
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(7, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          padding: 0;
          margin:0;
          list-style: none;
          height: 100%;
          li{
            border: 4px inset orange;
            background-color: black;
            width: 100%;
            text-align: center;
            font-size: large;
          }
        }
      
      }
      .footer__recherche {}
      .footer__copyright {}
      .footer_sociaux{
        ul{
          justify-content: space-around;
          li{
            svg{
              width: 50px;
              height: 50px;
            }
          }
        }

      }
    }
  }



.footer__menu { 
  &__nav{ // .footer__menu__nav

    &__ul{ // .footer__menu__nav__ul
        display : flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        @media screen and (min-width : $largeur__media--tablette) {
          flex-direction : row;
        }
        .menu-item { // .site__footer__menu__ul .menu-item
            margin : 10px 5px;
          a{ // .site__footer__menu__ul .menu-item a
            display : flex;
            align-items: center;
            padding : 3px;
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer;
              }
         
            &:hover {
              svg { // .site__footer__menu__ul .menu-item a svg
                color: $color__link__footer-hover;
              }
            }
          }
        }    
     }
  }
}
