.cours {

    &__titre{
        a{
            text-decoration: none;
            color: $color__link-cours;
            &:hover{
               color: $color__link-cours-hover;
            }
            &:visited{
                color: $color__link-cours-visited;
                &:hover{
                    color: $color__link-cours-hover;
                }
            }
        }   
    }
    &__contenu{
        display: flex;
    }
}
