/* ---------------- BACKGROUND */
$color__background-body : #2f2f2f;
$color__background-main : #2f2f2f;
$color__background-cours : #2f2f2f;
$color__background-header : whitesmoke;
$color__background-barre : hsl(200, 78%, 9%);
$color__background-footer : Orange;
$color__background-link : Black;
$color__background-link-hover : Whitesmoke;

/* ---------------- LIENS */
$color__link : White;
$color__link-hover : Orange;
$color__link-visited : Whitesmoke;
/* ---------------- LIENS FOOTER */
$color__link__footer : Orange;
$color__link__footer-hover : hsl(123, 80%, 49%);
$color__link__footer-visited : rgb(119, 119, 119);
/* ---------------- LIENS HEADER titre principal du site */
$color__header-link : #2f2f2f;
$color__header-link-hover : Orange;
$color__header-link-visited : rgb(197, 128, 0);

/* ---------------- FONT */
$color__font-header : Orange;
$color__font-main :Orange;
$color__font-barre : Orange;
$color__font-footer : Whitesmoke;
$color__font-default : Whitesmoke;
/************************** COULEUR MENU FOOTER **************************/
$color__link__footer:black;
$color__link__footer-visited:grey;
$color__link__footer-hover: white;
$background__link__footer: white;
$background__link__footer-visited: white;
$background__link__footer-hover: black;

/************************** COULEUR MENU PRINCIPAL **********************/

$color__link__menu-principal: black;
$color__link__menu-principal-visited:grey;
$color__link__menu-principal-hover:white;
$background__link__menu-principal:white;
$background__link__menu-principal-visited:white;
$background__link__menu-principal-hover:black;