.site__footer {
  font-family: $font__titre;
  background-color: $color__background-footer;
  color: $color__font-footer;
  padding: 15px;

  &__colonne { //.site__footer__colonne
      display :flex;
      justify-content: space-between;
      section { //  .site__footer__colonne  section
        flex : 0 0 30%;
        border : 3px solid black;
        -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 20px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 10px #828482, 0px 0px 0px 12px #B2B5B2, 0px 0px 0px 20px #DADDDA, 5px 5px 15px 5px rgba(0,0,0,0);;
      }
      .footer__adresse{ //.site__footer__colonne .footer__adresse
        text-align: center; 
       }
      .footer__article {
        text-align: center; 
       }
      .footer__lien { 
        text-align: center; 
      }
  }

  &__ligne { //.site__footer__ligne
    display : flex;
    flex-direction : column;
    align-items: center;
    section {
      p{
        text-align: center;
      }
      
    }
    .footer__auteur {}
    .footer__description {}
    .footer__recherche {}
    .footer__copyright {}

  }


    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
                svg { // .site__footer__menu__ul .menu-item a svg
                  color: $color__link__footer;
                }
           
              &:hover {
                svg { // .site__footer__menu__ul .menu-item a svg
                  color: $color__link__footer-hover;
                }
              }
            }
          }    
       }
    }
  }

.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

     
  