.site__header {
    background-color: $color__background-entete;
    color: $color__font-entete;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width : $largeur__media--tablette) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &__titre{ //.site__header__titre
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        h1{ //.site__header__titre h1 / h2
            font-size: clamp(2rem,3vw,7rem);
            font-family: $font__entete;
        }
        h2{
            font-size: clamp(1rem,2vw,4rem);
            font-family: $font__main;
            margin: 0 0 0 2rem;
        }
    }

    &__util{ //.site__header__util
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        
        width: 100%;
        @media screen and(min-width: $largeur__media--tablette) {
            width: 25%;
        }
    }
    a{
        text-decoration: none;
    }
}

.icone{
    &__lien{
        width: 25px;
        height: 25px;
        //.icone__lien
        svg{ //.icone__lien svg

        }
    }
}

.recherche{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-areas: 
    "input bouton";
    justify-content: right;

    &__input{ //.recherche__input
    grid-area:input;
    outline: 0;
    margin: 0;
    padding:0;
    background-color: rgba(grey, .1);

    }

    &__bouton{//.recherche__bouton
        //position: absolute;
        grid-area: bouton;
        right: 0;
        width: 23px;
        height: 23px;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }
}